* {
    margin: 0;
    padding: 0;
}
body {
    background: #e9ecf4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.contenedor1 {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);

    grid-template-areas: "header1       header1         header1"
                        "content1       conten1         sidebar1"
                        "content2       content2        sidebar1"
                        "content3       content3        content3"
                        "content4       content4        content4"      
                        "footer1        footer1         footer1"
}
.contenedor1 > div,
.contenedor1 .header1,
.contenedor1 .content1,
.contenedor1 .sidebar1,
.contenedor1 .content2,
.contenedor1 .content3,
.contenedor1 .content4,
.contenedor1 .footer1 {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contenedor1 .header1 {
    background: linear-gradient(to left, teal, greenyellow);
    color: rgba(78, 7, 66, 0.966);
    grid-area: header1;
    text-align: center;
}
.contenedor1 .content1 {
    background:linear-gradient(to left, rgb(22, 75, 9), rgb(63, 207, 164));
    color: #ffffff;
    grid-area: content1;
    grid-column-start: 1;
    grid-column-end: 3;

    text-align: justify;
}
.contenedor1 .sidebar1 {
    background: #d6116d;
    color: #e9ecf4;
    grid-area: sidebar1;
    text-align: center;
}
.contenedor1 .content2 {
    background: linear-gradient(to right, #d6116d, black);
    color: #ffffff;
    grid-area: content2;
    text-align: justify;
}
.contenedor1 .content3 {
    grid-area: content3;
    background: linear-gradient(to top right, yellow, teal);
    text-align: justify;
}
.contenedor1 .content4 {
    background: linear-gradient(to top left, purple, red);
    grid-area: content4;
    color: #ffffff;
    text-align: justify;
}
.contenedor1 .footer1 {
    background: #000000;
    color: aqua;
    grid-area: footer1;
    text-align: center;
}
